// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-content-open{
    
    // transform: translateX(-$menu_width) !important;
    border: 2px solid blue;
}
ion-menu{

    .menu-inner{
        // width: 100px !important;
        display: flex;
        flex-direction: column;
        border: 2px solid green;

    }

}


// ion-menu{
    
// border: 2px solid red;
    // width: 60% !important;
    // position: absolute !important;
    // left: 40%;
    // .menu-inner{
    //         width: 100% !important;
    //         border: 2px solid purple;
    //     #contentMenu{
    //         display: flex;
    //         flex-direction: column;
    //         .item{
    //             border: 1px solid blue;
    //             display: flex;
    //             padding: 10px;

    //             .iconWrapper{
    //                 border: 1px solid green;
    //                 width: 20px;
    //                 height: 20px;
    //             }
    //             .textMenu{
    //                 font-size: 12pt;
    //                 margin-left: 10px;
    //             }
    //         }
    //     }
    // }
// }

// #myIonNav{
//             // transform: translateX(-60%) !important;
//             border: 2px solid green;
//             .menu-content-open{
//                 transform: translateX(-60%) !important;

//             }
// }