// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu{

    .menu-inner{
        display: flex;
        flex-direction: column;
        
        #headerMenu{
            height: 66px;
            width: 100%;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        .item{

            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;     // Provides the margin
            margin: 15px auto;   // Center the box

            .iconWrapper{
                flex-basis: 25%;

                img{
                    width: 20px;
                    height: 20px;
                }
            }

            span{
                flex-basis: 80%;
                text-align: left;
                font-size: 12pt;
            }

            &:active{
                background-color: #BDC8F4;
            }
        }
    }
}