navbar {

    #menuToggle {
        margin-right: 5px;
        
        img{
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }
    }

    .toolbar {
        height: 66px;
    }
}
