
<ion-header>

	<ion-navbar>
		<ion-title>Set Data Assigned</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let task of taskDistribution.tasks; let i = index">
			<div class="taskClass">{{taskDistribution.tasks[i]}}:</div>
			<div class="houseMateClass">{{taskDistribution.houseMates[i]}}</div>
		</ion-item>
	</ion-list>
	<ion-item>
		<ion-label color="primary" floating>Add homemate</ion-label>
		<ion-input #focusInput type="text" [(ngModel)]="myHomemate" (ionFocus)="onFocusInput()"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label color="primary" floating>Add task</ion-label>
		<ion-input type="text" [(ngModel)]="myTask" (ionFocus)="onFocusInput()"></ion-input>
	</ion-item>
	<div class="buttonsWrapper">
		<button ion-button (click)="onClickLess()">-</button>
		<p *ngIf="errorInfo">{{errorInfo}}</p>
		<button ion-button (click)="onClickMore()">+</button>
	</div>
	<button ion-button (click)="finnish()">Finnish</button>
</ion-content>
