page-signup {

    // Fix a bug which appear on keyboard display
    .scroll-content{
        padding-bottom: 0px !important;
    }

    form{
        // This line seems make bad behaviour with the navbar and the scroll
        // height: 100%;
        
        #content{  

            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            img{
                width: 350px;
                height: 250px;
            }


            #inputs{
                margin-bottom: 15px;
                width: 100%;
            }

            #buttons {
                margin-bottom: 20px;
                width: 70%;

                button{
                    margin-bottom: 18px;
                }

                .bottomOption{
                    margin-top: 10px;
                    color: color($colors, secondary);

                    &:active{
                        color: lighten(color($colors, secondary), 10%);
                    }
                }
            }
        }
    }
}
